import 'package:flutter/material.dart';
import 'package:tflite/tflite.dart';
import 'package:image_picker/image_picker.dart';
import 'dart:io';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) => MaterialApp(home: ImageClassifier());
}

class ImageClassifier extends StatefulWidget {
  @override
  _ImageClassifierState createState() => _ImageClassifierState();
}

class _ImageClassifierState extends State<ImageClassifier> {
  File? _image;
  List? _output;

  @override
  void initState() {
    super.initState();
    loadModel();
  }

  loadModel() async {
    await Tflite.loadModel(
      model: 'assets/model.tflite',
      labels: 'assets/labels.txt',
    );
  }

  classifyImage(File image) async {
    var output = await Tflite.runModelOnImage(
      path: image.path,
      numResults: 2,
      threshold: 0.5,
      imageMean: 127.5,
      imageStd: 127.5,
    );
    setState(() {
      _output = output;
    });
  }

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(title: Text('Image Classifier')),
      body: Column(children: [
        _image == null ? Container() : Image.file(_image!),
        SizedBox(height: 20),
        _output == null ? Text('') : Text('${_output!['label']}')
      ]),
      floatingActionButton: FloatingActionButton(
        onPressed: () async {
          var image = await ImagePicker().pickImage(source: ImageSource.gallery);
          if (image == null) return;
          setState(() { _image = File(image.path); });
          classifyImage(_image!);
        },
        child: Icon(Icons.image),
      ),
    );
  }
}
